/* FONT FAMILY LINKAGE */
@font-face
{
    font-family: "Segoe UI";
    src: url("../Font/Segoe UI.ttf");
}
@font-face
{
    font-family: "Hasteristico";
    src: url("../Font/Hasteristico.ttf");
}

/* UTILITIES CLASSES */
.left{float: left;}.right{float:right;}.alignCenter{text-align:center;}.cl{clear:both;}.vAlign{vertical-align:middle;}

/* LAYOUT */
html, body{
    width: 100%;
    height: 100%;
}
#global{
    width: 100%;
    height: 100%;
    background: transparent url(../../Media/Image/bg1.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}
.emptyCase{
    opacity: 0.1;
    background: #fff;
    float: left;
    border: 1px solid #000;
    
    box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
    -o-box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
    -ms-box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
}

.caseFull{
    background: #000;
    opacity: 0.8;
    cursor: pointer;
    font-family: 'Hasteristico';
    text-align: center;
   
    transition: all 0.6s linear;
    -webkit-transition: all 0.6s linear;
    -moz-transition: all 0.6s linear;
    -o-transition: all 0.6s linear;
    -ms-transition: all 0.6s linear;
}
.caseFull h1, .caseFull h2{
    font-size: 20px;
    color: #fff;
    
    transition: all 0.6s linear;
    -webkit-transition: all 0.6s linear;
    -moz-transition: all 0.6s linear;
    -o-transition: all 0.6s linear;
    -ms-transition: all 0.6s linear;
}
.caseFull:hover{
    background: #fff;
}
.caseFull:hover h2, .caseFull:hover h1{
    color: #000;
}

header, #header{
}

.title{
    padding: 10px 0;
    color: #111;
    font-size: 22px;
    font-family: 'Segoe UI';
}

.contenu{
    color: #444;
    font-size: 16px;
    font-family: 'Hasteristico';
}
