/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 juin 2014, 12:23:52
    Author     : francky
*/
/** GENERAL **/
.home-sequence{
    min-height:300px;
    padding: 25px 0px;
    font-family: Helvetica, Arial, sans-serif;
}
.home-sequence-bio{;
    #portrait-container{
        width:90%;
        margin:0 auto;
        .portrait{
            width:16%;
            margin:0 2%;
            height:200px; 
            text-align: center;
            img{
                @include radius(4px);
            }
        }
    }
    #portrait-description-container{
        width:85%;
        min-height:100px;
        margin: 0 auto;
        @include custom-light-blocks();
    }
}
.home-sequence-news{
    color:$text_color;
    background:lighten($main_color_degrade,20%);
    #home-news-container{
        width:85%;
        margin:0 auto;
        #home-news-article{
            @include custom-light-blocks();
            width:40%;
            h2{
                padding:0px 0px 5px;
                border-bottom: 2px solid lighten($main_color_degrade,20%);
                i{
                    color: lighten($main_color_degrade,20%);
                    text-align:right;
                }
            }
            .news-article-line{
                padding:10px 5px;
                border-bottom: 1px solid $border_color;
                .news-article-img{
                    width:60px;
                }
            }
            .last{
                border-bottom: 0 none;
                padding:10px 5px 0px;
            }
        }
    }
}

    